.container{
    margin: 3rem auto;
    background-color: rgb(204, 219, 233);
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 10rem 10rem ;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}


.item{
    font-size: 2rem;
   
}

.item--1{
    background-color: rgb(91, 154, 173);
    grid-row: 2/3;
    grid-column: 2/3;
 }

.item--2{
   background-color: rgb(104, 91, 173);
   grid-row: 1/2;
   grid-column: 1/2;
   z-index: 10;
}

.item--3{
    background-color: rgb(225, 0, 255);
    grid-row: 2/3;
    grid-column: 2/-1;
    
 }

 .item--4{
    background-color: rgb(0, 255, 55);
    grid-row: 1/-1;
    grid-column: 1/2;
    
 }

 .item--5{
    background-color: rgb(255, 81, 0);
    grid-row: 1/2;
    grid-column: 3/4;
 }

 .item--6{
    background-color: rgb(255, 0, 85);
    grid-area: 1/2/2/3;
 }